[submodule "RequiredProgram/fgbio"]
	path = RequiredProgram/fgbio
	url = https://github.com/fulcrumgenomics/fgbio.git
[submodule "RequiredProgram/HapCut2"]
	path = RequiredProgram/HapCut2
	url = https://github.com/vibansal/HapCUT2.git
[submodule "RequiredProgram/bwa"]
	path = RequiredProgram/bwa
	url = https://github.com/lh3/bwa.git
[submodule "RequiredProgram/simulation"]
	path = RequiredProgram/simulation
	url = https://github.com/zhanglu295/SIMLR
